
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     {% load static %}
     <!-- Bootstrap -->
    <link href="{% static 'jorqueraWebApp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

     <!-- Fonts -->
    
     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
     <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
     

    <!-- Styles -->
   
    <link href="{% static "jorqueraWebApp/css/gestion.css" %}" rel="stylesheet">
 
    <title>Antecededentes profesioanles</title>
{% include "padres/cabeza.html" %}     
</head>
<body>


        <!-- practica -->
        <section class="page-section cta">
        <div class="container">
            <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Experiencia Laboral </span>                
                    <p class="mb-0">Nex News .ltda</p>                
                </h2>
                <p><strong>Practica Laboral / 2019</strong></p>
                <p class="mb-0">En el año 2019 realize mi practica laboral en la empresa Nex-News. Empresa dedicada al monitoreo de medios digitales, mis primeros pasos fueron realizando un mantenedor para medios digitales asociado a un sistema de gestión de Base De Datos MySql en  lenguaje PHP con framawork Laravel para conectarlo a una BD  MySql  </p>
                </br>
                <p class="mb-0">Ademas participe en la creacion de un programa de trackeo de medios diguitales en lenguaje Python con Framework Django </p>
                {% comment %} <p class="mb-0">Enseñanza Basica: Escuela Jose Joaquin Prieto SII</p>
                <p class="mb-0">TOIC : Rendido</p> {% endcomment %}
                </br>
                <p style:text align = "right" >15 junio/2019 al 16 octubre /2019</p> 
                <p></p>          

                </div>
            </div>
            </div>
        </div>
        </section>

            <!-- Undermarket -->
            <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Experiencia Laboral </span>                
                <p class="mb-0">Undermarket</p>                
              </h2>
              <p><strong>Actualidad </strong></p>
              <p class="mb-0"> Al terminar mi practica laboral ingrese a un empresa dedicada a  dar soporte tecnico donde me desarrolle como programador Junior teniendo el deber de dar desde soporte a  creacion de pag web administrables  en PHP Y wordpress</p>
              </br>
              <p style:text align = "right" >1 noviembre/2019  a la actualidad></p> 
              

            </div>
          </div>
        </div>
      </div>
    </section>


 <!-- Undermarket -->
            <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Experiencia Laboral </span>                
                <p class="mb-0">Formatizando</p>                
              </h2>
              <p><strong>Actualidad </strong></p>
              <p class="mb-0">Ademas aprovecho este tiempo de trabajo remoto para realizar mis proyectos Personales que van desde certificarme en laravel y Django y mejorar mi ingles </p>
              </br>
              <p style:text align = "right" >Actualidad</p> 
              

            </div>
          </div>
        </div>
      </div>
    </section>
    
  
</body>
{% include 'padres/pie.html' %}
</html>

