


<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     {% load static %}
     <!-- Bootstrap -->
    <link href="{% static 'jorqueraWebApp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

     <!-- Fonts -->
    
     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
     <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
     

    <!-- Styles -->
   
    <link href="{% static "jorqueraWebApp/css/gestion.css" %}" rel="stylesheet">
 
    <title>Block</title>
{% include "padres/cabeza.html" %}     
</head>

  
<body>    
<h1> Bienvenidos Al block</h1>
</body>
{% include 'padres/pie.html' %}
</html>

